* {
	outline: none;
}
body {
	color: rgb(167, 158, 139) !important;
}

img {
	max-width: 100% !important;
}

/* header */

header {
	margin: 2rem 20% -2rem 20%;
	display: flex;
	justify-content: center;
}

header * {
	color: #f78e66 !important;
	font-size: 2rem !important;
	letter-spacing: 1px;
}

/* nav */

nav {
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 4rem;
	line-height: 2rem;
}

nav a {
	color: #72b6b5 !important;
	padding-right: 2rem;
	font-size: 1rem;
	font-weight: bold;
}

a {
	color: #72b6b5 !important;
}

a:hover {
	text-decoration: none !important;
}

nav a:hover {
	text-decoration: underline !important;
}

/* next & previous */

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

/* main */

main {
	margin-top: 3rem;
	margin-left: 20%;
	margin-right: 20%;
	display: grid;
	grid-gap: 1.4rem;
	line-height: 1.5rem;
}

/* iframe embedding */
.desktop {
    display: none;
} 

.mobile {
	display: block;
}

.desktop-pdf {
    display: none;
}

.mobile-pdf {
    display: block;
}

.content a {
	text-decoration: underline;
}

.post-list a {
	text-decoration: none;
	position: relative;
	color: #f78e66 !important;
	/* color: #72b6b5 !important; */
}

.post-list a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2px solid #f78e66;
	transition: 0.4s;
}

.post-list a:hover:after {
	width: 100%;
}

.post-list a:before,
.post-list a:before {
	content: "# ";
	color: #42b983;
	position: absolute;
	left: -0.8em;
	font-weight: bold;
}

/* footer */

footer {
	font-weight: bold;
	color: #72b6b5;
	font-size: 0.7rem;
	margin: 4rem 20% 4rem 20%;
}

@media screen and (max-width: 780px) {
	nav,
	header,
	footer,
	main {
		margin-left: 10%;
		margin-right: 10%;
	}
	.PageNavigation {
	font-size: 0.7rem;
	}
}

@media only screen  and (min-width : 1025px) {

  .mobile-pdf {
      display: none;
  }

  .desktop-pdf {
      display: block;
  }
	
.mobile {
    display: none;
} 
	.desktop {
		display: block;
	}
}
